/* Бүкіл беттің стилі */
body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
    margin: 20px; 
}
body {
    background-color: #f0f0f0; /* Сұр фон */
    margin: 0;
    padding: 0;
}

.container {
    background-color: white; /* Негізгі контенттің түсі */
    width: 80%;
    margin: 20px auto; /* Ортасына орналастыру */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Жұмсақ көлеңке */
}


/* Суретті ортаға қою */
.image-container {
    text-align: center;
    margin-top: 20px; /* Жоғарғы бос орын */
}

/* Бөлімдерді төменге түсіру */
.menu {
    text-align: center;
    margin-top: 30px; /* Суреттен кейін бос орын */
}

/* Сілтемелер стилі */
a { 
    margin: 10px; 
    display: inline-block; 
    text-decoration: none; 
    color: blue; 
} 

/* Сілтемеге тінтуірмен апарғанда түсін өзгерту */
a:hover { 
    color: red; 
}
.logo {
    position: absolute; /* Қалқып тұруы үшін */
    top: 10px; /* Жоғарыдан арақашықтық */
    left: 50px; /* Сол жақтан арақашықтық */
    width: 180px; /* Өлшемін реттеу */
    height: auto;
}
